{% block positibe_image_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-image')|trim}) %}

    <div {{ block('widget_attributes') }} data-provides="fileupload">
        <div class="fileupload-preview fileupload-exists thumbnail">
            <img src="{{ display_image(value, {'imagine_filter':'image_thumbnail', 'default': image_default is defined ? asset('bundles/positibemedia/images/photo.png'): ''}) }}"
                 style="margin: 6px">
        </div>
        <div class="btn btn-info btn-sm fileinput-button">
            <i class="fa fa-paperclip"></i>
            {{ 'input.upload_image' | trans({}, 'PositibeMediaBundle') }}
            {{ form_widget(form.binaryContent, {'required':false, 'attr': {'style': 'cursor: pointer;' }}) }}
        </div>
        <div class="btn-file-remove">
            {% if value.id %}
                {{ form_widget(form.unlink) }}
            {% endif %}
        </div>
        <div class="btn-file-remove">
            {{ form_widget(form.configure) }}
        </div>
        <div class="p-1">
            {{ form_row(form.name) }}
            {{ form_row(form.path) }}
        </div>
    </div>

{% endblock positibe_image_widget %}

{% block positibe_media_widget %}
    {% set attr = attr|merge({class: (attr.class|default('') ~ ' form-media row')|trim}) %}
    <div class="">
        <div {{ block('widget_attributes') }} data-provides="fileupload">
            <div class="input-group col-md-8">
                <div class="input-group-btn" style="height: 35px">
                    <div class="btn btn-info btn-sm fileinput-button">
                        <i class="fa fa-paperclip"></i>
                        {{ 'input.upload' | trans({}, 'PositibeMediaBundle') }}
                        {{ form_widget(form.binaryContent, {'required':false, 'attr': {'style': 'cursor: pointer;' }}) }}
                    </div>
                </div>
                <div class="form-control fileupload-preview fileupload-exists">
                    {% if value and value.id %}{{ value.metadata['filename'] }}{% endif %}
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-file-remove">
                    {{ form_widget(form.unlink) }}
                </div>
            </div>
            <div class="col-md-2">
                <div class="btn-file-remove">
                    {{ form_widget(form.configure) }}
                </div>
            </div>
        </div>
        {{ form_row(form.name) }}
        {{ form_row(form.path) }}
        <div class="mt-1 md-form md-form-vertical" data-provides="fileupload">
            <div class="btn btn-info btn-sm fileinput-button" style="float: left">
                <i class="fa fa-paperclip"></i>
                {{ 'input.preview' | trans({}, 'PositibeMediaBundle') ~' ' ~ form.vars['label'] }}
                {{ form_widget(form.binaryContentPreview, {'required':false, 'attr': {'style': 'cursor: pointer;' }}) }}
            </div>
            <div class="fileupload-preview fileupload-exists thumbnail "
                 style="display: inline-block; max-width: 60px; max-height: 60px; margin-left: 10px">
                <img src="{{ value.preview ? '/' ~ value.preview : asset('bundles/positibemedia/images/photo.png') }}"
                     style="margin: 6px;">
            </div>

        </div>

    </div>

{% endblock positibe_media_widget %}

{% block positibe_gallery_widget %}
    {{ form_errors(form.gallery_has_medias) }}
    <div class="text-right">
        <a href="#" class="btn btn-sm btn-default form-collections-add_button"
           data-target="form_collection_type_gallery_{{ form.vars.id }}"><i
                    class="fa fa-plus"></i> {{ 'input.add' | trans({}, 'PositibeMediaBundle') }}
        </a>
    </div>
    <div id="form_collection_type_gallery_{{ form.vars.id }}" class="form-gallery"
         data-count="{{ form.gallery_has_medias | length }}"
         data-prototype="{{ form_widget(form.gallery_has_medias.vars.prototype)|e }}">
        {% for media in form.gallery_has_medias %}
            {{ form_errors(media) }}
            {{ form_widget(media) }}
        {% endfor %}
    </div>
    <div style="display: none">{{ form_widget(form.gallery_has_medias) }}</div>
{% endblock %}

{% block positibe_gallery_has_media_widget %}
    <div id="{{ id }}" class="card">
        <div class="row">
            <div class="col-3">
                {{ form_widget(form.media) }}
            </div>
            <div class="col-7">
                {{ form_row(form.title) }}
                {{ form_row(form.body) }}
                {{ form_row(form.position) }}
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-warning form-collection-remove-button"
                   data-target="{{ form.vars.id }}">
                    <i class="fa fa-trash"></i> {{ 'input.remove' | trans({}, 'PositibeMediaBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}

{% block positibe_media_collection_has_media_widget %}
    <div id="{{ id }}" class="card">
        <div class="row">
            <div class="col-7">
                {{ form_widget(form.media) }}
            </div>
            <div class="offset- col-3" style="padding-left: 30px">
                {{ form_widget(form.title, {'attr': {'placeholder': 'gallery_has_media.form.title_help'}}) }}
            </div>
            <div class="col-2 text-right">
                <a class="btn btn-sm btn-warning form-collection-remove-button"
                   data-target="{{ form.vars.id }}">
                    <i class="fa fa-trash"></i> {{ 'input.remove' | trans({}, 'PositibeMediaBundle') }}
                </a>
            </div>
        </div>
    </div>
{% endblock %}